/****************** BODY LAYOUT *******************/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', Helvetica, sans-serif;
  color: rgb(6, 6, 78);
}

h1,
h2 {
  color: rgb(6, 6, 78);
}

/******************* HOME PAGE *******************/
/* CONTROL BUTTONS  /*/
a,
button {
  border: 1px solid rgb(255, 117, 191);
  border-radius: 8px;
  padding: 0.25rem 0.5rem;
  background-color: white;
  color: rgb(227, 5, 108);
  font-size: 0.8rem;
  text-decoration: none;
  cursor: pointer;
}

a:hover,
button:hover {
  background-color: rgb(255, 66, 142);
  color: white;
}

.controls {
  display: flex;
  gap: 0.5rem;
}

.delete-btn:hover {
  background-color: rgb(255, 66, 66);
  border: 1px solid rgb(200, 0, 0);
  color: white;
}

/* NOTES SECTION */
.fav-heart {
  height: 20px;
  width: 20px;
}
.notes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.25rem;
  margin-top: 1.5rem;
}

.note header {
  background-color: rgba(255, 240, 251, 0.499);
  align-items: center;
  display: flex;
  height: 67.813px;
  justify-content: space-between;
  padding: 0 1rem;
  width: 269.328px;
}

.note h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note-content {
  white-space: pre-wrap;
}

/******************* NEW PAGE *******************/

/* .btn-bg {
  background-color: rgb(255, 219, 236);
  border-radius: 80px;
  height: 31px;
  position: absolute;
  right: 62px;
  transition: 1s;
  transition-property: right;
  top: 0px;
  width: 50px; 
  z-index: -1;
} */

 .note-type {
  background-color: transparent;
  border: none;
  border-radius: 80px;
  display: inline-block;
  padding: 5px;
  text-align: center;
  width: 50px;
}


/*
.note-type:hover {
  background-color: transparent;
  border: none;
  border-radius: 80px;
  color: rgb(227, 5, 108);
} */

.selected {
  background-color: rgb(255, 66, 142);
  border-radius: 80px;
  color: white;
}
/* 
.btn-bg + span:hover {
  right: 8px;
}
*/


/* 
.list {
  left: 63px;
  transition: 1s;
  transition-property: left;
} */

/* NOTES PAGE */
input[type=date] {
  font-family: 'Lato', Helvetica, sans-serif;
}

textarea {
  font-family: 'Lato', Helvetica, sans-serif;
  resize: none;

}

/******************* SORT BY DROPDOWN *******************/
.dropdown {
  display: inline-block;
  position: relative;
}

.sort-btn {
  cursor: pointer;
}

.sort-btn:focus {
  background-color: rgb(255, 66, 142);
  color: white;
}

.dropdown-content {
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none;
  position: absolute;
  overflow:auto;
  text-align: center;
  width: 106px;
  z-index: 1;
}

.dropdown-content button {
  border: none;
  border-radius: 0;
  color: rgb(6, 6, 78);
  display: block;
  padding: 12px 16px;
  width: 100%;
}

.dropdown-content button:hover {
  background-color: rgb(255, 236, 247);
}

.visible {
  display: block;
}

/* LIST */
.list-item {
  display: inline-block;
  margin: 0 auto 5px;
}

.completed-item {
  color: rgb(174, 174, 208);
  text-decoration: line-through;
  text-decoration-color: rgb(112 112 143);
}