/****************** BODY LAYOUT *******************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
button {
  background-color: white;
  border: 1px solid rgb(255, 117, 191);
  border-radius: 8px;
  color: rgb(227, 5, 108);
  cursor: pointer;
  font-size: 0.8rem;
  margin: 0 5px;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
}

a:hover,
button:hover {
  background-color: rgb(255, 66, 142);
  color: white;
}

body {
  background-color: #FFF5F9;
  font-family: 'Lato', Helvetica, sans-serif;
  color: rgb(6, 6, 78);
}

h1,
h2 {
  color: rgb(6, 6, 78);
  font-family: 'Noto Sans KR', sans-serif;
}

.visible {
  display: block;
}

/******************* HOME PAGE *******************/
/* CONTROL BUTTONS */
.controls {
  display: flex;
  gap: 0.5rem;
}

.delete-btn:hover {
  background-color: rgb(255, 66, 66);
  border: 1px solid rgb(200, 0, 0);
  color: white;
}

.heading-text {
  font-size: 4.4rem;
  overflow: auto;
  width: 100%;
}

.index-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 95vh;
}

.index-div-1 {
  overflow: visible;
  margin: 80px 0 0 222px;
}

.logo {
  width: 80px;
}

.index-div-1 .links {
  color: #eab5ca;
  padding-left: 0px;
  text-decoration: none;
}

.pencil {
  margin-top: 45px;
  margin-left: 8px;
  width: 80%;
}

/******************* NOTES DASHBOARD *******************/
/* NOTES SECTION */
.btn-icon{
  height: 15px;
  width: 15px;
}

.fav-heart {
  height: 20px;
  width: 20px;
}

.notes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.25rem;
  margin-top: 1.5rem;
}

.note {
  background-color: #fdfdf9;
  box-shadow: 2px 2px 5px #b0b0b0;
  height: 300px;
  width: 300px;
}

.note header {
  background-color: rgb(241 249 255 / 50%);
  border-bottom: 1px solid rgb(188 188 205);
  align-items: center;
  display: flex;
  height: 68px;
  justify-content: space-between;
  padding: 0 1rem;
  position: relative;
  width: 100%;
}

.note h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note-date {
  color: rgb(179, 181, 210);
  font-size: 0.6rem;
  left: 17px;
  position: absolute;
  top: 5px;
}

.note-content {
  white-space: pre-wrap;
}


.note-controls {
  background-color: rgb(241 249 255 / 50%);
  border-top: 1px solid rgb(188 188 205);
  bottom: 0;
  display: flex;
  gap: 0.5rem;
  position: relative;
  justify-content: center;
  padding: 4px 0;
}

.note-text {
  height: 194px;
  padding: 10px 14px;
}

.note-type {
  background-color: transparent;
  border: none;
  border-radius: 80px;
  display: inline-block;
  padding: 5px;
  text-align: center;
  width: 50px;
}


.selected {
  background-color: rgb(255, 66, 142);
  border-radius: 80px;
  color: white;
}

/******************* NEW/EDIT NOTES PAGE *******************/
input[type='date'] {
  font-family: 'Lato', Helvetica, sans-serif;
}

textarea {
  font-family: 'Lato', Helvetica, sans-serif;
  resize: none;
}

/******************* SORT BY DROPDOWN *******************/
.dropdown {
  display: inline-block;
  position: relative;
}

.sort-btn {
  cursor: pointer;
}

.sort-btn:focus {
  background-color: rgb(255, 66, 142);
  color: white;
}

.dropdown-content {
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  overflow: auto;
  text-align: center;
  width: 106px;
  z-index: 1;
  top: 28px;
  left: -24px;
}

.sort-list-visible {
  display: none;
}

.dropdown-content button {
  border: none;
  border-radius: 0;
  color: rgb(6, 6, 78);
  display: block;
  padding: 12px 16px;
  width: 100%;
}

.dropdown-content button:hover {
  background-color: rgb(255, 236, 247);
}

/******************* LIST *******************/
.list-item {
  display: inline-block;
  margin: 0 auto 5px;
}

.completed-item {
  color: rgb(174, 174, 208);
  text-decoration: line-through;
  text-decoration-color: rgb(48 48 131 / 37%);
}

/******************* FOOTER *******************/
.footer {
  padding: 10px;
}
.links {
  background-color: #FFF5F9;;
  border: none;
  border-radius: 0;
  color: rgb(133, 127, 159);
  text-decoration: underline;
}

.links:hover {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(58, 54, 162);
}