<h1>Edit note</h1>

  <form action="/non-users" method="POST">

    <label>Date: </label>
    <input type="date" name="date" value="date">
    <br>
    <br>
    <label>Title: </label>
    <input type="text" name="title" value="title">
    <br>
    <br>
    <label>Note: </label>
    <br>
    <textarea type="text" name="note" rows="20" cols="70"><%= note %></textarea>
    <br>
    <br>
    <button class="non-user-edit-btn">Edit note</button>
  </form>