

<section class="index-grid">
  <div class="index-div-1">
    <img class="logo" src="/images/logo-pink.png" alt="">
    <h1 class="heading-text">ALL YOUR NOTES IN ONE PLACE</h1>
    <br>
    <br>
    <button class="sign-up-btn">Sign Up</button>
    <button class="log-in-btn">Log In</button> 
    <br>
    <br>
    <a class="links" href="/temp-notes/new-note">Start without an account</a>
  </div>

  <div class="index-div-2">
    <img class="pencil" src="/images/pencil.png" alt="">
  </div>
</section>

<div id="backdrop"></div>

<div class="modal" id="sign-up-modal">
  <div class="modal-content">
    <h2 class="modal-title">Sign Up</h2>

    <form action="/users" method="POST">
      <label for="">First Name: </label>
      <br>
      <input type="text" name="first_name">
      <br>
      <br>
      <label for="">Last Name: </label>
      <br>
      <input type="text" name="last_name">
      <br>
      <br>
      <label for="">Email: </label>
      <br>
      <input type="text" name="email">
      <br>
      <br>
      <label for="">Password: </label>
      <br>
      <input type="password" name="password">
      <br>
      <div class="modal-actions">
        <button class="modal-action-btn">Sign Up</button>
      </div>
    </form>

    <button class="modal-action-btn btn-passive">Cancel</button>
  </div>
</div>

<div class="modal" id="log-in-modal">
  <div class="modal-content">
    <h2 class="modal-title">Log In</h2>

    <form action="/sessions" method="POST">
      <label for="">Email: </label>
      <br>
      <input type="text" name="email">
      <br>
      <br>
      <label for="">Password: </label>
      <br>
      <input type="password" name="password">
      <br>
      <div class="modal-actions">
        <button class="modal-action-btn">Log In</button>
      </div>
    </form>

    <button class="modal-action-btn btn-passive">Cancel</button>
  </div>
</div>
