<h1>New Temporary Note</h1>

<section class="type-selection">
<a href="/new-temp-note" class="note-type selected">Note</a>
<a href="/new-temp-list" class="note-type">List</a>

  
</button>
</section>

<form action="/temp-notes-new" method="POST">
  <br>    
  <label>Date: </label>
  <input type="date" name="date">
  <br>
  <br>
  <label>Title: </label>
  <input type="text" name="title">
  <br>
  <br>
  <label>Note: </label>
  <br>
  <textarea type="text" name="note" rows="20" cols="70"></textarea>
  <br>
  <br>
  <button>Add note</button>
</form>