<h2>Log In</h2>
<form action="/sessions" method="POST">
  <label for="">Email: </label>
  <br>
  <input type="text" name="email">
  <br>
  <br>
  <label for="">Password: </label>
  <br>
  <input type="password" name="password">
  <br>
  <br>
  <button>Log in</button>
</form>