<h1>Sign up</h1>
<form action="/users" method="POST">
  <label for="">First Name: </label>
  <br>
  <input type="text" name="first_name">
  <br>
  <br>
  <label for="">Last Name: </label>
  <br>
  <input type="text" name="last_name">
  <br>
  <br>
  <label for="">Email: </label>
  <br>
  <input type="text" name="email">
  <br>
  <br>
  <label for="">Password: </label>
  <br>
  <input type="password" name="password">
  <br>
  <br>
  <button>Sign up</button>
</form>