<h1>Credits</h1>
<a class="links" href="https://www.termsfeed.com/live/aa28cedd-eb97-47f4-864f-8c784bca221a">Disclaimer</a>
<br>
<br>
<br>
<a class="links" href="[https://www.flaticon.com/free-icons/heart](https://www.flaticon.com/free-icons/heart)" title="heart icons">Heart icons created by Freepik - Flaticon</a>
<br>
<a class="links" href="[https://www.flaticon.com/free-icons/editing](https://www.flaticon.com/free-icons/editing)" title="editing icons">Editing icons created by Freepik - Flaticon</a>
<br>
<a class="links" href="[https://www.flaticon.com/free-icons/delete](https://www.flaticon.com/free-icons/delete)" title="delete icons">Delete icons created by Kiranshastry - Flaticon</a>
<br>
<a class="links" href="[https://www.flaticon.com/free-icons/heart](https://www.flaticon.com/free-icons/heart)" title="heart icons">Heart icons created by Chanut - Flaticon</a>
<br>
<a class="links" href="[https://www.flaticon.com/free-icons/heart](https://www.flaticon.com/free-icons/heart)" title="heart icons">Heart icons created by Freepik - Flaticon</a>
<br>
<a class="links" href="https://www.codingnepalweb.com/dynamic-calendar-html-css-javascript/](https://www.codingnepalweb.com/dynamic-calendar-html-css-javascript/)">Calendar</a>
<br>
<a class="links" href="https://www.flaticon.com/free-icons/no-love" title="no love icons">No love icons created by Freepik - Flaticon</a>
